*{
    box-sizing: border-box;
}

body{
    background-color: #d0c9d4;
    font-family: tahoma;
    font-size: 12px;
    color: white;
    min-width: 599px;
    background-image:url('http://picsum.photos/id/237/1024/800');
    background-repeat: no-repeat;
    background-size: cover;


}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: end;


}
#main{
    width: 100%;
    position: relative;
    
}
.wrap{
    width: 599px;
    margin: auto;
}
#header{
    padding: 70% 0;
}
#header h1{
    font-family: tahoma;
    text-align: center;
    font-size: 18px;
    position: relative;
    width: 280px;
    margin: auto;
}



#contents{
    font-family: tahoma;
    text-align: center;
    color: white;
    padding: 35px;
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    margin-top: -50px;
}
#contents h2{
    font-family: tahoma;
    font-size: 80px;
    line-height: 80px;
    font-weight: bold;
}
#contents .loader{
    padding: 20px 0;
}
#contents .loader .load{
    background-color: #313031;
}



#contents .loader .load  .percentage{
    background-color: white;
    height: 10px;
    width: 70%
}

#contents .loader .info{
    display: flex;
    font-size: 18px;

}
#contents .loader .info span{
flex: 1;
}

#contents .loader .info span:first-child{
    text-align: left;

}
#contents .loader .info span:last-child{
    text-align: right;

}

#footer{
    text-align: center;
    padding-bottom: 80px;
}
#footer .social-links{
    display: flex;
    justify-content: center;
}

#footer .social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 40px;
}
